cf-jellyfin/
cf-emby/
cf-jellyseerr/
cf-radarr/
cf-sonarr/
cf-qbittorrent/
.env
**/config/
secrets/
data/
cache/
certificates/
letsencrypt/
transcode/
custom/
flaresolverr/
servers.json
jellyseerr/gluetun/servers.json
